<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>
  <div class="nav">
    <% if !logged_in? %>
      <a href="/signup"> SignUp </a>
      <a href="/login"> Login </a>
    <% else %>
      <a href="/tweets/new"> Tweet </a>
      <a href="/logout"> LogOut </a>
    <% end %>
  </div>
    <div class="container">
      <%=yield%>
    </div>
    
  </body>
</html>
