<h1>Login</h1>
<form action="/login" method="post">
  <h3><label for="username">Login: </label><input type="text" name="username" id="username"></h3>
  <h3><label for="password">Password: </label><input type="password" name="password" id="password"></h3>
  <label for="submit"></label><input type="submit" value="Log In" id="submit">
  <p><a href="/">Home</a></p>
</form>
